body {
  margin:0%;
}

main > div {
  margin: 50px;
}

body > div > h1 {
  font-family: 'Alice', serif;
  font-size: 60px;
  color: darkslategray;
  margin: 40px;
  grid-area: header;
}

body > div > span {
  color: darkslategray;
  margin-right: 60px;
  grid-area: cart;

}

nav > a {
  text-decoration: none;
  font-family: 'Alice', serif;
  color: darkslategray;

}

span {
  color: darkslategray;
  margin-left: 5px;
}

#grid-container1 {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: 
  'header cart';
  grid-template-columns: 7fr 3fr;
}

#grid-container2 {
  display: flex;
  flex-direction:row;
  justify-content: end;
  margin-right: 60px;
  align-items: center;
  grid-template-areas: 
  'account cart';
  grid-template-columns: 5fr 5fr;
}


#grid-container3 {
  display: flex;
  flex-direction: row;
  background-color: rgb(169, 140, 155);
  padding: 12px;
  justify-content: space-around;
}

